<div>
  <div id="nav">
    <button mat-raised-button (click)="setView('rtu')" [color]="view === 'rtu' ? 'primary' : null">RTU Coordination</button>
    <button mat-raised-button (click)="setView('ev')" [color]="view === 'ev' ? 'primary' : null">EV Charging</button>
  </div>
  <div id="vis" [ngClass]="view">
    <div [ngStyle]="{'background-image': leftStyle}"></div>
    <div [ngStyle]="{'background-image': rightStyle}"></div>
  </div>
  <div id="charts">
    <div id="chart-uncoord" class="chart" (mouseenter)="active = 'chart-uncoord'" (mouseleave)="hideCursor()"></div>
    <div id="chart-coord" class="chart" (mouseenter)="active = 'chart-coord'" (mouseleave)="hideCursor()"></div>
  </div>
  <div id="controls">
    <mat-icon aria-hidden="false" (click)="togglePlaying()">{{ playing ? 'pause' : 'play_arrow' }}</mat-icon>
    <mat-slider class="disable-animation" [min]="timeIndex.min" [max]="timeIndex.max" [(ngModel)]="timeIndex.current" (input)="onSliderChange($event)"></mat-slider>
  </div>
</div>
